name: Go Continuous Improvement
on:
  push:
    branches: [ main ]
    paths:
      - 'cmd/**.go'
      - 'internal/**.go'
  pull_request:

jobs:
  go-pipeline:
    runs-on: ubuntu-latest
    container:
      image: golang
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Task
        uses: arduino/setup-task@v2

      - name: Add the folder to the safe directories
        run: git config --global --add safe.directory '/__w/crypto-broker/crypto-broker'

      - name: Set the dependencies
        run: go mod tidy && go mod verify

      - name: Build server binary
        run: go build cmd/server/server.go

      - name: Check code formatting
        run: test -z "$(gofmt -l .)"

      - name: Run static analysis
        run: go vet ./...

      - name: Install govulncheck for vulnerability analysis
        run: go install golang.org/x/vuln/cmd/govulncheck@latest

      - name: Run vulnerability analysis
        run: govulncheck ./...

      - name: Initialization of test profile
        run: task example-profile

      - name: Run unit tests
        run: |
          CRYPTO_BROKER_PROFILES_DIR=${GITHUB_WORKSPACE}/profiles go test -skip E2E -covermode=count -coverpkg=./... -coverprofile cover.out -v ./...
          go tool cover -html cover.out -o cover.html

      - name: Run end-2-end tests
        run: CRYPTO_BROKER_PROFILES_DIR=${GITHUB_WORKSPACE}/profiles go test -run E2E -race ./...

      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: cover.html
